




<div class="hero overlay" style="background-image: url('../../../assets/images/dancepic.webp');">
  <div class="container hero-content">
    <div class="row align-items-center">
      <div class="col-lg-5 ml-auto">
        <h1 class="text-white mb-4">Dance Odyssey</h1>
<div class="user-registration-container">
  <h2>User Registration</h2>
  <form (ngSubmit)="addUser()" class="user-registration-form" #userForm="ngForm">
    <div class="form-group" [ngClass]="{'error': userName.invalid && (userName.dirty || userName.touched)}">
      <label for="userName">Username:</label>
      <input type="text" id="userName" name="userName" [(ngModel)]="user.userName" required #userName="ngModel">
      <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="error-message">Username is required.</div>
    </div>
    <div class="form-group" [ngClass]="{'error': lastName.invalid && (lastName.dirty || lastName.touched)}">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" required #lastName="ngModel">
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error-message">Last Name is required.</div>
    </div>
    <div class="form-group" [ngClass]="{'error': email.invalid && (email.dirty || email.touched)}">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" required #email="ngModel">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">Email is required.</div>
    </div>
    <div class="form-group" [ngClass]="{'error': password.invalid && (password.dirty || password.touched)}">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="user.password" (input)="checkPasswordStrength()" required #password="ngModel">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">Password is required.</div>
    </div>
    <div class="password-strength">
      <div class="strength-bar-container">
        <div class="strength-bar" [style.width]="calculateStrengthBarWidth()" [ngClass]="indicatorClass"></div>
      </div>
      <div class="strength-label">{{ passwordStrength }}</div>
    </div>
    <div class="form-group" [ngClass]="{'error': confpassword.invalid && (confpassword.dirty || confpassword.touched)}">
      <label for="confpassword">Confirm Password:</label>
      <input type="password" id="confpassword" name="confpassword" [(ngModel)]="user.confpassword" required #confpassword="ngModel">
      <div *ngIf="confpassword.invalid && (confpassword.dirty || confpassword.touched)" class="error-message">Confirmation password is required.</div>
    </div>
    <div class="form-group select-wrapper">
      <label for="role">Role:</label>
      <select id="role" name="role" [(ngModel)]="user.role" required>
        <ng-container  *ngFor="let role of roles">
        <option *ngIf="role.id!=1" [ngValue]="role" >{{ role.name }}</option>
      </ng-container>
      </select>
    </div> 
    <div class="form-group">
      <re-captcha
        siteKey="6LdCdJMpAAAAAMRccPNgWv9TZxrXSlrlz017C7A2"
        (resolved)="handleCaptchaResponse($event)">
      </re-captcha>
      <div *ngIf="!captchaResolved" class="error-message">Please complete the ReCaptcha.</div>
    </div>
    
    <button type="submit" [disabled]="userForm.invalid || !captchaResolved">Register</button>
  </form>
  
  
</div>
