<div class="hero overlay" style="background-image: url('/assets/images/addEvent.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mx-auto text-center">
        <h1 class="text-white">Courses</h1>
        <p>Here, you can see a list of currently available dance courses</p>
      </div>
    </div>
  </div>
</div>



<div class="container site-section">
  <div class="row">
      <!-- Loop through each course and display them in a column -->
      <div class="col-lg-4 mb-4" *ngFor="let course of courses">
          <div class="custom-media d-block">
              <div class="img mb-4">
                  <a href="single.html">
                      <img src="/assets/images/cup.jpg" alt="Image" class="img-fluid" style="width: 400px; height: 400px;">
                  </a>
              </div>
              <div class="text">
                  <span class="meta">{{course.startDate}}</span>
                  <h3 class="mb-4"><a href="#">{{course.courseName}}</a></h3>
                  <p>{{course.description}}</p>
                  <p><a href="#">Read more</a></p>
              </div>
          </div>
      </div>
  </div>
</div>
