<div class="hero overlay" style="background-image: url('/assets/images/addEvent.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 mx-auto text-center">
          <h1 class="text-white">Competitions </h1>
          <p>Here , You can see a list of currently available dance competitions</p>
        </div>
      </div>
    </div>
  </div>

  
  
  <div class="container site-section">
    <div class="row">
        <!-- Loop through each competition and display them in a column -->
        <div class="col-lg-4 mb-4" *ngFor="let competition of competitions">
            <div class="custom-media d-block">
                <div class="img mb-4">
                    <a href="single.html">
                        <img src="/assets/images/cup.jpg" alt="Image" class="img-fluid" style="width: 400px; height: 400px;">
                    </a>
                </div>
                <div class="text">
                    <span class="meta">{{competition.startDate}}</span>
                    <h3 class="mb-4"><a href="#">{{competition.competitionName}}</a></h3>
                    <p>{{competition.description}}</p>
                    <p><a href="#">Read more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>