<section class="hero spad set-bg" data-setbg="/assets/Front Office/img/hero-bg.png">
    <div class="image-container">
        <img src="/assets/Front Office/img/photo.jpg" alt="Hero Background">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h1>Move to Your Rhythm</h1>
                        <h1>Dance Odyssey Awaits</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .image-container {
        margin-top: -600px; /* Adjust the value as needed */
    }

    .text-center {
        margin-top: -900px;
        color: rgb(14, 7, 221); /* Set text color based on your design */
        margin-left: -500px;
    }

    .text-center h1 {
        font-size: 70px; /* Adjust the font size as needed */
        font-weight: bold; /* Adjust font weight as needed */
        margin-bottom: 20px; /* Adjust the margin as needed */
    }
</style>
