<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div class="layout-page">
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <style>
                        .input-group-merge {
  width: 300px; /* Adjust the width as needed */
  margin-left: auto; /* Move it to the right */
  margin-right: 20px; /* Add some right margin for spacing */
}
                    </style>
                    <form class="d-flex mb-3">
                        <div class="input-group input-group-merge">
                            <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Search by competition name"
                              aria-label="Search..."
                              aria-describedby="basic-addon-search31"
                              [(ngModel)]="searchName"
                              name="searchName"
                              (input)="onSearch()"
                            />
                            </div>
                          
                      </form>
                    <div class="row mb-5">
                        <div class="col-md-6 col-lg-4" *ngFor="let competition of competitions">
                            <div class="card text-center mb-3" >
                                <div class="card-body">
                                    <h5 class="card-title">{{competition.competitionName}}</h5>
                                    <p class="card-text"> Location : {{ competition.location}}</p>
                                    <p class="card-text"> Dance Category : {{ competition.danceCategory}}</p>
                                    <p class="card-text"> Start Date : {{ competition.startDate}}</p>
                                    <p class="card-text"> End Date  : {{ competition.endDate}}</p>
                                    <p class="card-text"> Max Participants : {{ competition.maxParticipants}}</p>
                                    <p class="card-text"> Prize : {{ competition.prize}}</p>
                        
                                    <a [routerLink]="['/admin/updateCompetition',competition.competitionID] " class="btn btn-primary spaced-button">Update</a>
                                    <a [routerLink]="['/admin/competitionDancers', competition.competitionID]" class="btn btn-primary spaced-button">Show Dancers</a>
                                    <a [routerLink]="[]"(click)="Close(competition.competitionID)" class="btn btn-primary">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .spaced-button {
        margin-right: 5px; /* Adjust the value based on the space you want */
    }
    .search-bar {
        width: 200px; /* Adjust the width as needed */
        margin-left: 70%;
    }

</style>
