
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <style>
        .app-brand-link {
        margin-left: 60px;
        margin-bottom: 10px;
        }
      </style>
      
      <a href="index.html" class="app-brand-link">
        <span>
          <img src="/assets/images/logo.png" alt="Brand logo" width="60" height="60">
        </span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Competitions</span></li>
      <!-- Cards -->
      <li class="menu-item">
        <a [routerLink]="['/admin/list-competition']"  routerLinkActive="active-link" class="menu-link">
          <i class="menu-icon tf-icons bx bx-trophy"></i>
          <div data-i18n="Basic">Active Competitions</div>
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/admin/add-competition']" class="menu-link">
          <i class="menu-icon tf-icons bx bx-plus"></i>
          <div data-i18n="Boxicons">Add Competition</div>
        </a>
        <a [routerLink]="['/admin/archivecometitions']" class="menu-link">
          <i class="menu-icon tf-icons bx bx-archive"></i>
          <div data-i18n="Boxicons">Archive</div>
        </a>
        
      </li>
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Products</span></li>
      <!-- Cards -->
      <li class="menu-item">
        <a [routerLink]="['/admin/list-competition']"  routerLinkActive="active-link" class="menu-link">
          <i class="menu-icon tf-icons bx bx-plus"></i>

          <div data-i18n="Basic">Add Product</div>
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/admin/add-competition']" class="menu-link">
          <i class="menu-icon tf-icons bx bx-box"></i>

          <div data-i18n="Boxicons">Products list</div>
        </a>
      </li>
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Users </span></li>
      <!-- Cards -->
      <li class="menu-item">
        <a [routerLink]="['/admin/list-competition']"  routerLinkActive="active-link" class="menu-link">
          <i class="menu-icon tf-icons bx bx-user"></i>

          <div data-i18n="Basic">Users</div>
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/admin/add-competition']" class="menu-link">
          <i class="menu-icon tf-icons bx bx-walk"></i>


          <div data-i18n="Boxicons">Dancers</div>
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/admin/add-competition']" class="menu-link">
          <i class="menu-icon tf-icons bx bx-shield"></i>



          <div data-i18n="Boxicons">Juries</div>
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/admin/list-competition']"  routerLinkActive="active-link" class="menu-link">
          
          <div data-i18n="Basic">Feed Back</div>
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/admin/add-competition']" class="menu-link">
          <i class="menu-icon tf-icons bx bx-message"></i>
          <div data-i18n="Boxicons">Reclamations</div>
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/admin/add-competition']" class="menu-link">
          <i class="menu-icon tf-icons bx bx-chart"></i>

          <div data-i18n="Boxicons">Statistics</div>
        </a>
      </li>
      

      
    </ul>
  </aside>