<div class="container">
  <div class="row">
    <div class="col-md-6">  
      <h2>Upload Excel File</h2>
      <input type="file" (change)="onFileSelected($event)">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <button class="btn btn-primary me-2" (click)="onSubmit()">
        <i class="bx bx-save me-1"></i> Save
      </button>
      <button class="btn btn-secondary" [routerLink]="['/admin', 'competitionsmanaging']">
        <i class="bx bx-arrow-back me-1"></i> Go Back
      </button>
    </div>
  </div>
</div>
