<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/Front Office/css/barfiller.css">
<link rel="stylesheet" href="/assets/Front Office/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/Front Office/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/Front Office/css/magnific-popup.css">
<link rel="stylesheet" href="/assets/Front Office/css/nowfont.css">
<link rel="stylesheet" href="/assets/Front Office/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/Front Office/css/rockville.css">
<link rel="stylesheet" href="/assets/Front Office/css/slicknav.min.css">
<link rel="stylesheet" href="/assets/Front Office/css/style.css"/> 
<link rel="stylesheet" href="/assets/Front Office/sass/_header.scss" >

<app-header-front></app-header-front>
<router-outlet></router-outlet>
<app-footer-front></app-footer-front>


<script src="/assets/Front Office/js/bootstrap.min.js"></script>
<script src="/assets/Front Office/js/jplayerInit.js"></script>
<script src="/assets/Front Office/js/jquery-3.3.1.min.js"></script>
<script src="/assets/Front Office/js/jquery.barfiller.js"></script>
<script src="/assets/Front Office/js/jquery.countdown.min.js"></script>
<script src="/assets/Front Office/js/jquery.jplayer.min.js"></script>
<script src="/assets/Front Office/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/Front Office/js/jquery.nicescroll.min.js"></script>
<script src="/assets/Front Office/js/jquery.slicknav.js"></script>
<script src="/assets/Front Office/js/main.js"></script>
<script src="/assets/Front Office/js/owl.carousel.min.js"></script>
<script src="/assets/Front Office/js/jquery-3.3.1.min.js"></script>
  

