<div class="hero overlay" style="background-image: url('/assets/images/addEvent.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 mx-auto text-center">
          <h1 class="text-white">My Created Events</h1>
          <p>Here you can see the list of the events you have created</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container site-section">
    <div class="row">
      <div class="col-12 title-section">
        <h2>My Created Events</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Event Name</th>
              <th>Start Date</th>
              <th>Location</th>
              <th>Max Participants</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of myCreatedEvents">
              <td>{{ event.eventName }}</td>
              <td>{{ event.startDate | date:'medium' }}</td>
              <td>{{ event.location }}</td>
              <td>{{ event.maxParticipants }}</td>
              <td>
                <button class="btn btn-primary btn-sm" [routerLink]="['/upgradevent',event.eventID] "style="margin-right: 5px;">Update</button>
                <button class="btn btn-primary btn-sm" (click)="deleteEvent(event.eventID)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  