   /* Ajoutez votre code CSS ici */
   body {
    font-family: Arial, sans-serif;
  }

  .layout-wrapper {
    /* Ajoutez vos styles pour le wrapper ici */
  }

  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: #fff;
    border-collapse: collapse;
  }

  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  .table th {
    background-color: #f8f9fa;
  }

  .product-cell {
    cursor: pointer;
  }

  .product-image {
    max-width:55px; /* Ajustez la taille de l'image selon vos besoins */
    height: auto;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    /* Ajoutez vos styles pour les boutons ici */
  }
  