<header class="site-navbar py-4" role="banner">

    <div class="container">
      <div class="d-flex align-items-center">
        <div class="site-logo">
          <a href="index.html">
            <img src="/assets/images/logo.png" alt="Logo" width="150" height="150">

          </a>
        </div>
        <div class="ml-auto">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a [routerLink]="['/homepage']" class="nav-link">Home</a></li>
              <li><a href="matches.html" class="nav-link">About</a></li>
              <li><a href="players.html" class="nav-link">Competitons</a></li>
              <li><a href="blog.html" class="nav-link">Events</a></li>
              <li><a href="contact.html" class="nav-link">Products</a></li>
              <li><a href="contact.html" class="nav-link">Community</a></li>
              <li><a href="contact.html" class="nav-link">Sign Out</a></li>
            </ul>
          </nav>

          <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
              class="icon-menu h3 text-white"></span></a>
        </div>
      </div>
    </div>

  </header>