<div class="hero overlay" style="background-image: url('/assets/images/events.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mx-auto text-center">
        <h1 class="text-white">Upcoming Events </h1>
        <p>Discover exciting events and engage in those that capture your interest</p>
      </div>
    </div>
  </div>
</div>
<div class="container site-section">
  <div class="row">
    <div class="col-6 title-section">
      <!-- Add any title or header if needed -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 mb-4" *ngFor="let event of events">
      <div class="custom-media d-block">
        <div class="img mb-4">
          <a [routerLink]="['/events', event.eventID]"><img src="/assets/images/eventimage.jpg" alt="Event Image" class="img-fluid"></a>
        </div>
        <div class="text">
          <span class="meta">{{ event.startDate | date: 'mediumDate' }}</span>
          <h3 class="mb-4"><a [routerLink]="['/events', event.eventID]">{{ event.eventName }}</a></h3>
          <p>{{ event.description }}</p>
          <p><a [routerLink]="['/events', event.eventID]">Read more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
